<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增价格设置')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-KmzPrice-add">
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">车辆类型：</label>
                    <div class="col-sm-8">
                        <select name="bikeType" class="form-control" th:with="type=${@dict.getType('bike_type')}">
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">地区id：</label>
                    <div class="col-sm-8">
                        <input name="areaId" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">地区名称：</label>
                    <div class="col-sm-8">
                        <input name="areaName" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">第一段时间：</label>
                    <div class="col-sm-8">
                        <input name="partMinute1" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">第一段价格：</label>
                    <div class="col-sm-8">
                        <input name="partPrice1" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">递增时间：</label>
                    <div class="col-sm-8">
                        <input name="nextMinute" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">递增价格：</label>
                    <div class="col-sm-8">
                        <input name="nextPrice" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">备注：</label>
                    <div class="col-sm-8">
                        <input name="remark" class="form-control" type="text">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "estate/KmzPrice"
        $("#form-KmzPrice-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-KmzPrice-add').serialize());
            }
        }
    </script>
</body>
</html>